<div class="logger" style="max-height: 100px; overflow-y: scroll; display: flex; flex-flow: column">
    @foreach (var message in messages)
    {
        <span>@message</span>
    }
</div>

@code {

    [Parameter]
    public Core.Modules.Meta.ModuleLogger Logger { get; set; }

    private List<string> messages = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        this.Logger.OnValue += async (o, e) =>
        {
            this.messages.Insert(0, e);
            await this.InvokeAsync(this.StateHasChanged);
        };
    }

}